video {
    width: 540px;
    height: 360px;
}

#webcomponent-div {
    position: absolute;
    padding: 40px;
    top: 5%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80%;
    width: 55%;
  }
